.card {
  min-height: 451px;
  width: 372px;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 7px;
  border: 1px solid #ebebeb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.2);

  .heroImg {
    position: absolute;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 170px;
    background-color: lightcyan;
    top: 0px;
  }

  .cardContent {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 150px;
    //background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    .learnMoreBtn {
      width: 110px;
      //background-color: lightcoral;
      color: #5f2167;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      position: relative;
      top: 20px;
    }

    h1 {
      color: #333;
      font-size: 21px;
    }

    h4 {
      color: #333;
      font-size: 17px;
    }

    p {
      color: #000;
      font-size: 14px;
    }
  }
}

.card:hover {
  h1 {
    color: #5f2167;
  }
}

@media screen and (max-width: 1250px) {
  #app {
    flex-direction: column;
    //justify-content: center;
    align-items: center;
  }

  .card {
    margin-bottom: 100px;
  }
}
